extends layout

block content
  main
    .container
      ul#genres
        li
        .row
          .col.s12.m8.l10.offset-m2.offset-l1
            .card.hoverable.large
              .card-image
                img(src='#{book.thumbnail.url}')
                //- img(src='') TODO: HERE WE SHOULD PUT THE THUMBNAIL OF THE BOOK
                span.left.card-title #{book.title}
              .card-content

                span.left By #{book.author}
              .card-action
                .left
                  $ #{book.price}
                .right
                  a(href="/users/#{user._id}/cart") Add To Cart
  include layout_scripts
