extends layout

block content
  main
    .container
      .row
        for book in cart
          .col.s6.offset-s3.m4.l4
            if (user)
              a(href="/books/#{book._id}")
                .card.small.hoverable.book-item(id='#{book._id}')
                  span.left.card-title #{book.title}
                    |<br>
                    | - #{book.author}
                  .card-content
                    |<br><br>
                    .left $ #{book.price}
                  .card-action
                    .right
                      a(href='#') REMOVE



  include layout_scripts
