extend layout

block content
    .row
      .col.s4
        form#add-user
            input(type="text", id="user-first-name")
            label(for="user-first-name") First Name:
            input(type="text", id="user-last-name")
            label(for="user-last-name") LastName:
            input(type="text", id="user-email")
            label(for="user-email") Email:
            input(type="password", id="user-password")
            label(for="user-password") Password:
            input(type="password", id="user-password-conf")
            label(for="user-password-conf") Password confirm:
            |<br><br>
            button.btn.waves-effect.waves-light(type="submit") Submit
      .col.s8
        .users
            table.striped
                thead
                    tr
                        th(data-field="email") Email
                        th(data-field="first-name") First Name
                        th(data-field="last-name") Last Name
                        th(data-ifled="password") Password
                        th(data-field="deleter") Delete
                tbody
                    for user in users
                        tr.user-item(data-id="#{user._id}")
                            td #{user.email}
                            td #{user.nameFirst}
                            td #{user.nameLast}
                            td #{user.password}
                            td <a class="waves-effect waves-light btn delete" data-obj-type="user">Delete</a>



